/* style.css*/
header{
	color: purple;
	background-color: silver;
	font-family: "Bauhaus93", Arial, Georgia;
	letter-spacing: 0.3cm;
	text-align: center;
	
}
footer{
	position: fixed;
	bottom: 0;
	background-color: silver;
	width: 100%;
	text-align: center;
}
main section{
	border: 6pt solid silver;
	border-radius: 60px;
	padding: 2%;
	width: 40%;
}
main section h2{
	color: purple;
	background-color: silver;
	font-family: "Bauhaus93", Arial, Georgia;
	letter-spacing: 0,3cm;
	text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}